Package: bedops
Version: 2.4.39
Section: base
Priority: optional
Architecture: amd64
Depends: tcsh
Maintainer: BEDOPS Team
Description: bedops
 BEDOPS is a suite of tools to address common questions raised in genomic studies — mostly with regard to overlap and proximity relationships between data sets. It aims to be scalable and flexible, facilitating the efficient and accurate analysis and management of large-scale genomic data.  
