div.admonition-example p.admonition-title {
  background-color: #0066CC;
  border-bottom: 1px solid #003399;
}

div.admonition-example {
  background-color: #CCCCFF;
}

div.note p.admonition-title {
  background-color: #CC0066;
  border-bottom: 1px solid #A30052;
}

div.note {
  background-color: #F4E0EA;
}