img.logo {
   max-width: 100%;
}

span.pre {
   font-size: 1.0em;
}

a {
   color: #00f !important;
}

a:visited {
   color: #20e !important;
}

h2 {
   border-top: 1px grey dotted !important;
}

tt {
   font-size: 0.9em;
}

.index_cols {
   margin: 0;
   padding: 0;
   -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
}

ul {
   -webkit-margin-before:0em;
   -webkit-margin-after:0em;
}