img.logo {
  max-width: 100%;
}

span.pre {
  font-size: 1.1em;
}

a {
    color: #00f !important;
}

a:visited {
    color: #20e !important;
}

h2 {
   border-top: 1px grey dotted !important;
}

tt {
   font-size: 0.9em;
}